.first_list {
    background-color: yellow;
    font-weight: bold;
}
.first_list .par {
    color: green;
}
.first_list .impar {
    text-transform: uppercase;
}
h1,h3 {
    color: red;
}
.head {
    font-size: 40px;
    border: 1px solid black;
}
li {
    font-size: 20px;
}
.second_list .blue {
    color:blue;
}
.second_list .pink {
    background-color: pink;
}
li .sites {
    font-weight: bold;
    text-decoration: none;
}
.sites:hover .orange {
    color: orange;
    }
.sites:hover .green {
    color: green;
}
.sites:hover .black {
    color: black;
}
.sites:hover .yellow {
    color: yellow;
}
.sites:hover .green_trybe{
    color: greenyellow;
}