.first_list {
    background-color: yellow;
}
.first_list .par {
    color: green;
}
.first_list .impar {
    text-transform: uppercase;
}
h1,h3 {
    color: red;
}
.head {
    font-size: 40px;
    border: 1px solid black;
}