body {
  max-width: 90%;
  width: 100%;
  margin: 30px auto;
  background-color: aliceblue;
}
header, form {
  background-color: white;
  border-radius: 5px;
  box-shadow: 10px 5px 15px rgb(235, 231, 231);
  font-family: 'Dancing Script';
}

form {
  padding: 15px;
}

